version: "3"

services:
   mc-config-server:
     build: .
     image: mc-config-server
     ports:
       - 8078:8078
     environment:
       eureka.instance.hostname: mc-config-server
       
   mc-address-eureka-server:
     build: ../mc-address-eureka-server
     image: mc-address-eureka-server
     ports:
       - 8761:8761
     environment:
       eureka.instance.hostname: mc-address-eureka-server
       
   mc-api-gateway:
     build: ../mc-api-gateway
     image: mc-api-gateway
     ports:
       - 8079:8079
     environment:
       WAIT_HOSTS: mc-address-eureka-server:8761
       eureka.client.serviceUrl.defaultZone: http://mc-address-eureka-server:8761/eureka
         
   mc-customer-address:
     build: ../mc-customer-address
     image: mc-customer-address
     depends_on:
       - kafka
     ports:
       - 8080:8080
     environment:
       WAIT_HOSTS: mc-address-eureka-server:8761
       eureka.client.serviceUrl.defaultZone: http://mc-address-eureka-server:8761/eureka
       
   mc-zip-code-validator:
     build: ../mc-zip-code-validator
     image: mc-zip-code-validator
     ports:
       - 9091:9091
     environment:
       WAIT_HOSTS: mc-address-eureka-server:8761
       eureka.client.serviceUrl.defaultZone: http://mc-address-eureka-server:8761/eureka
       
   mc-user-service:
     build: ../mc-user-service
     image: mc-user-service
     ports:
       - 8082:8082
     environment:
       WAIT_HOSTS: mc-address-eureka-server:8761
       eureka.client.serviceUrl.defaultZone: http://mc-address-eureka-server:8761/eureka
       
   mc-kafka-customer-consumer:
     build: ../mc-kafka-customer-consumer
     image: mc-kafka-customer-consumer
     depends_on:
       - kafka
       - mongodb
     ports:
       - 8083:8083
     environment:
       WAIT_HOSTS: mc-address-eureka-server:8761
       eureka.client.serviceUrl.defaultZone: http://mc-address-eureka-server:8761/eureka
       
   mc-mongo-provider:
     build: ../mc-mongo-provider
     image: mc-mongo-provider
     depends_on:
       - mongodb
     ports:
       - 8084:8084
     environment:
       WAIT_HOSTS: mc-address-eureka-server:8761
       eureka.client.serviceUrl.defaultZone: http://mc-address-eureka-server:8761/eureka
       
   mc-config-server:
     build: ../mc-config-server
     image: mc-config-server
     ports:
       - 8078:8078
     environment:
       WAIT_HOSTS: mc-address-eureka-server:8761
       eureka.client.serviceUrl.defaultZone: http://mc-address-eureka-server:8761/eureka

   zookeeper:
     image: wurstmeister/zookeeper
     #container_name: zookeeper
     ports: 
       - 2181:2181
    
   kafka:
     image: bitnami/kafka:latest
     #container_name: kafka
     hostname: kafka
     depends_on:
       - zookeeper
     ports:
       - 9092:9092
     environment:
       - KAFKA_ZOOKEEPER_CONNECT=zookeeper:2181
       - KAFKA_LISTENERS=DOCKER_INTERNAL://:9092
       - KAFKA_ADVERTISED_LISTENERS=DOCKER_INTERNAL://kafka:9092
       - KAFKA_LISTENER_SECURITY_PROTOCOL_MAP=DOCKER_INTERNAL:PLAINTEXT,LOCALHOST:PLAINTEXT
       - KAFKA_INTER_BROKER_LISTENER_NAME=DOCKER_INTERNAL
       - ALLOW_PLAINTEXT_LISTENER=yes
       
   mongodb:
     image: mongo
     container_name: mongodb
     ports:
       - 27017:27017
     volumes:
       - data:/data
     environment:
       - MONGO_INITDB_ROOT_USERNAME=rootuser
       - MONGO_INITDB_ROOT_PASSWORD=rootpass
       
   mongo-express:
     image: mongo-express
     container_name: mongo-express
     restart: always
     ports:
       - 8081:8081
     environment:
       - ME_CONFIG_MONGODB_ADMINUSERNAME=rootuser
       - ME_CONFIG_MONGODB_ADMINPASSWORD=rootpass
       - ME_CONFIG_MONGODB_SERVER=mongodb
       
volumes:
  data: {}
  
networks:
  default:
    name: mongodb_network
   
   #keycloak:
     #image: quay.io/keycloak/keycloak:18.0.2
     #environment:
       #KEYCLOAK_ADMIN: admin
       #KEYCLOAK_ADMIN_PASSWORD: admin
       #KEYCLOAK_LOGLEVEL: INFO
       #ROOT_LOGLEVEL: INFO
       #KEYCLOAK_HTTP_PORT: 9090
       #KEYCLOAK_HTTPS_PORT: 9091
       #WAIT_HOSTS: mc-address-eureka-server:8761
       #eureka.client.serviceUrl.defaultZone: http://mc-address-eureka-server:8761/eureka
     #ports:
       #- "9090:9090"
     #command:
       #- start-dev
       #- --http-port=9090